<%- include('./partials/userHead.ejs') %>

  <body>
    <%- include('./partials/navbar.ejs') %>
      <div class="container mt-3">
        <h1>Shop</h1>
      </div>
      <div class="container">
        <div class="row ">
          <% for(let i = 0; i<products.length; i++){ %>
          <div class="card me-5 mb-5 mt-3" >
            <a href="/productDetails/<%= products[i]._id %>">
            <img src="/img/24100ML_I_MARTINEZ_2-transformed.png" class="card-img-top" alt="..." >
            <div class="card-body">
              <h5 class="card-title"><%= products[i].productName %></h5>
              <p class="price">Price: &#8377;<%= products[i].productPrice %></p>
              <p class="mrp">MRP: &#8377;<%= products[i].productMRP %></p>
              <p class="card-text"><%= products[i].productDiscription %></p>
          </div>
          </a>
          <div class="card-footer">
              <a href="/productDetails/<%= products[i]._id %>" class="btn btn-buy">Buy</a>
              <a class="btn btn-cart float-end">Add to Cart</a>
          </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <style>
            .card {
            border-radius: 8px;
            width: 20rem;
            margin-left: 34px;
            box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .card a{
          text-decoration: none;
          color: black;
        }
        .card-footer a{
          color: white;
        }
         img {
            max-width: 100%;
            height: 15vh;
          object-fit: scale-down;
        }
        
         .card-title {
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
        }
         .price {
            font-size: 12px;
            font-weight: bold;
            color: #007bff;
        }
         .mrp {
            text-decoration: line-through;
            color: #777;
            margin-right: 10px;
        }
         .btn-buy {
            background-color: #007bff;
            color: #fff;
        }
       .btn-cart {
            background-color: #28a745;
            color: #fff;
        }
    </style>
    <%- include('./partials/script.ejs') %>
  </body>

  </html>