<%- include('../partials/userHead.ejs') %>

  <body>
    <div class="section" >
      <div class="container ">
        <div class="title  text-center p-2" style="height: 7vh;">
          <h2 style="font-family: 'Fasthand', cursive;">Ciazzzzz</h2>
        </div>
        <ul class="nav justify-content-between">
          <li class="nav-item">
            <a class="nav-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="/shop">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/category">Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item d-flex">
            <a class="nav-link" href="/login">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
              </svg>
            </a>
            <a class="nav-link" href="/cart">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill"
                viewBox="0 0 16 16">
                <path
                  d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
              </svg>
              <span class="badge rounded-pill badge-notification bg-danger">9</span>
            </a>
          </li>
        </ul>
      </div>


      <div class="container mt-3">
        <h1>Shop</h1>
      </div>
      <div class="container">
        <div class="row ">
          <% for(let i = 0; i<products.length; i++){ %>
          <div class="card me-5 mb-5 mt-3" >
            <a href="/productDetails/<%= products[i]._id %>">
            <img src="/img/24100ML_I_MARTINEZ_2-transformed.png" class="card-img-top" alt="..." >
            <div class="card-body">
              <h5 class="card-title"><%= products[i].productName %></h5>
              <p class="price">Price: &#8377;<%= products[i].productPrice %></p>
              <p class="mrp">MRP: &#8377;<%= products[i].productMRP %></p>
              <div class="d-flex flex-row my-3">
                <div class="text-warning mb-1 me-2">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <span class="ms-1">
                    4.5
                  </span>
                </div>
                <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i><%= products[i].productQuantity %> items</span>
                <span class="text-success ms-2">In stock</span>
              </div>
          </div>
          </a>
          <div class="card-footer">
              <a href="/productDetails/<%= products[i]._id %>" class="btn btn-buy">Buy</a>
              <a class="btn btn-cart float-end">Add to Cart</a>
          </div>
          </div>
          <% } %>
        </div>
      </div>
      <%- include('../partials/footer.ejs') %>
    </div>
  
    <style>
            .card {
            border-radius: 8px;
            width: 20rem;
            margin-left: 34px;
            box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: transform 0.3s ease;
        }
        .card:hover {
          transform: scale(1.1);
        }
        .card a{
          text-decoration: none;
          color: black;
        }
        .card-footer a{
          color: white;
        }
         img {
            max-width: 100%;
            height: 15vh;
          object-fit: scale-down;
        }
        
         .card-title {
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
        }
         .price {
            font-size: 12px;
            font-weight: bold;
            color: #007bff;
        }
         .mrp {
            text-decoration: line-through;
            color: #777;
            margin-right: 10px;
        }
         .btn-buy {
            background-color: #007bff;
            color: #fff;
        }
       .btn-cart {
            background-color: #28a745;
            color: #fff;
        }
    </style>
    <%- include('../partials/script.ejs') %>
  </body>

  </html>