<%- include('../partials/userHead.ejs') %>

  <body>
    <div class="section bg-dark">
      <header class="header">
        <div class="container ">
          <div class="title  text-center p-2" style="height: 7vh;">
            <h1 style="font-family: 'Fasthand', cursive; color: white;">Ciazzzzz</h1>
          </div>
          <ul class="nav d-warp flex-nowarp justify-content-between ">
            <li class="nav-item">
              <a class="nav-link text-white" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-primary" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/shop">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/category">Category</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">About</a>
            </li>
            <li class="nav-item d-flex">
              <a class="nav-link text-white" href="/login">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-person-fill" viewBox="0 0 16 16">
                  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                </svg>
              </a>
              <a class="nav-link text-white" href="/cart">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-cart-fill" viewBox="0 0 16 16">
                  <path
                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
                <span class="badge rounded-pill badge-notification bg-danger">9</span>
              </a>
            </li>
          </ul>
        </div>
      </header>

      <section class="banner">
        <div class="slider">
          <% for(let i = 0; i<products.length; i++){ %>
          <div class="slide">
            <img src="/img/<%= products[i].image %>" alt="">
            <div class="left-info">
              <div class="penetrte-blur">
              </div>
              <div class="content">
                <h3><%= products[i].productName %></h3>
                <p><%= products[i].productDiscription %></p>
                <a href="/productDetails/<%= products[i]._id %>" class="btn">More Details</a>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        <div class="navigation">
          <span class="prev-btn"><i class="fa-solid fa-chevron-left fa-3x"></i></span>
          <span class="next-btn"><i class="fa-solid fa-chevron-right fa-3x"></i></span>
        </div>
      </section>
    </div>
    <div class="section-2 bg-danger">
      <div class="brand d-flex align-items-center " style="height: 15vh;">
        <div class="container">

        </div>
      </div>
    </div>

    <script>
      const nxtBtn = document.querySelector(".next-btn");
      const prvBtn = document.querySelector(".prev-btn");
      const slides = document.querySelectorAll(".slide");
      const numberOfSlides = slides.length;
      let slideNumber = 0;
      slides[slideNumber].classList.add('active')

      // slider next button
      nxtBtn.onclick = () => {
        slides.forEach((slide) => {
          slide.classList.remove('active');
        });

        slideNumber++;

        if (slideNumber > (numberOfSlides - 1)) {
          slideNumber = 0;
        }

        slides[slideNumber].classList.add('active');
      }


      // slider Prev button
      prvBtn.onclick = () => {
        slides.forEach((slide) => {
          slide.classList.remove('active');
        });

        slideNumber--;

        if (slideNumber < 0) {
          slideNumber = numberOfSlides - 1;
        }

        slides[slideNumber].classList.add('active');
      }

    </script>
    <%- include('../partials/script.ejs') %>
  </body>

  </html>